body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } 
  .companies{
      color:blue;
  }  
  .heading{
      color:white;
  }
  .main-container{
      text-align: center; 
      background-color: #333333;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .thumbnail {
    margin: 10px;
    cursor: pointer;
  }
  
  .thumbnail img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
  }
  
  .modal-content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: auto;
    display: block;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }